<!-- <div class="list row">
  <div class="col-md-8">
    <div class="input-group mb-3">
      <input
        type="text"
        class="form-control"
        placeholder="Search by quize title"
        [(ngModel)]="quizname"
      />
      <div class="input-group-append">
        <button
          class="btn btn-outline-secondary"
          type="button"
          (click)="searchTitle()"
        >
          Search
        </button>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let quize of quizes; let i = index">
        {{ quize.quizname }}
      </li>
    </ul>
  </div>

  <!-- <app-score-details></app-score-details> -->
</div> -->
